@import url("https://fonts.googleapis.com/css2?family=Lato&family=Prompt:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Variables */
  --primary-font: "Prompt", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --primary-color: #ff0000;
  --secondary-color: #131117;
  --light-color: #f3f3f3;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  font-size: large;
  font-family: var(--secondary-font);
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.pixelated {
  image-rendering: pixelated;
}
